# Core ML/AI libraries
pandas
numpy  
sentence-transformers
instructor
openai


# Web frameworks
Flask
flask-cors
httpx

# Data processing and utilities
lark
matplotlib
networkx
rapidfuzz
beautifulsoup4
requests
selenium
webdriver-manager