.clubsScrollArea {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.clubsScrollArea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* For future custom styles specific to Clubs */ 